.title {
  font-family: Ubuntu, sans-serif;
  color: #cadaed;
}

.courseWrapper {
  font-family: Ubuntu, sans-serif;
  width: 250px;
  border-radius: 5px;
  padding: 15px 20px;
  background-color: #aabbd7;
  margin: 5px 0;
  border: 1px solid #576679;
  cursor: pointer;
  position: relative;
  color: #1b232e;
}

.courseWrapper:hover {
  color: #fff;
  background-color: #eb1e64;
  border: 1px solid #eb1e64;
}

.courseName {

}

.scenes {
  font-size: 12px;
  position: absolute;
  right: 20px;
}
