.errorWrapper {
  font-family: Ubuntu, sans-serif;
  position: absolute;
  bottom: 55px;
  z-index: 99;
  width: 40px;
  box-sizing: border-box;
  padding: 10px;
  color: #FFF;
}

.openedErrorWrapper {
  composes: errorWrapper;
  width: 100%;
}

.errorButton {
  cursor: pointer;
  top: 25px;
  position: absolute;
  left: 13px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #eb1e64;
  color: #FFF;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 24px;
  box-sizing: border-box;
  background-color: #202634;
}

.activeErrorButton {
  composes: errorButton;
  background-color: #eb1e64;
}

.errorPopup {
  position: absolute;
  margin: 10px;
  box-sizing: border-box;
  width: calc(100% - 20px);
  min-height: 100px;
  background-color: #872841;
  border-radius: 5px;
  bottom: 0;
  padding: 0 20px 10px 20px;
  left: 0;
}
.errorPopup:after, .errorPopup:before {
	top: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.errorPopup:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #ff;
	border-width: 3px;
	margin-left: -3px;
}
.errorPopup:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #872841;
	border-width: 9px;
	margin-left: -5px;
}

.closePopup {
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  right: 5px;
  top: 5px;
  color: #ffc8d7;
}

.successWrapper {
  font-family: Ubuntu, sans-serif;
  position: absolute;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 10px;
  color: #FFF;
  background-color: #145069;
}


.successText {
  line-height: 40px;
  font-weight: bold;
  height: 40px;
  font-size: 20px;
}

.continue {
  background-color: #329696;
  border-radius: 3px;
  border: 0;
  padding: 0 15px;
  color: #fff;
  height: 40px;
  line-height: 16px;
  cursor: pointer;
  display: block;
  font-size: 14px;
  outline: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.continue i {
  font-size: 26px;
  margin-right: 7px;
  display: inline-block;
  margin-left: -9px;
}

.buttonText {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}
