.wrapper {
  width: 500px;
  padding: 20px;
  position: relative;
}

.column {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.tagNameTitle {
  padding: 11px 0;
  display: inline-block;
}

.description {
  cursor: pointer;
  margin-bottom: 5px;
  color: #cadaed;
}

.delete {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.active {
  color: #eb1e64;
}

.description:hover {
  color: #fff;
}

.descriptionField {
  border: none;
}

.descriptionField,
.exampleField {
  margin-top: 5px;
}

.radioButtonWrapper {
    margin-top: 5px;
    margin-bottom: -3px;
    text-align: right;
}

.radioButtonValue {
  font-size: 10px;
  margin-left: 3px;
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
  color: #cadaed;
}

.radioButton {
  display: inline-block;
  margin-left: 13px;
}

.inputHeader {
  font-size: 13px;
  font-weight: bold;
  color: #cadaed;
}
